# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Frontend dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/node_modules

# Backend dependencies
/backend/venv
/backend/__pycache__
/backend/**/__pycache__
/backend/.pytest_cache
/backend/**/.pytest_cache

# testing
/coverage
/frontend/coverage

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal
/frontend/prisma/db.sqlite
/frontend/prisma/db.sqlite-journal
db.sqlite
*.db

# next.js
/.next/
/frontend/.next/
/out/
/frontend/out/
next-env.d.ts

# production
/build
/frontend/build
/backend/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# local env files
# do not commit any .env files to git, except for the .env.example file
.env
.env*.local
/frontend/.env
/frontend/.env*.local
/backend/.env
/backend/.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# idea files
.idea
.vscode

# Python
*.pyc
*.pyo
*.egg-info
.mypy_cache
.dmypy.json
dmypy.json